<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeh7EOibu1oSvrwOJ5B_nYfHFYy8ALPYs</string>
	<key>GCM_SENDER_ID</key>
	<string>412444903210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benjiexpress.rider.ios</string>
	<key>PROJECT_ID</key>
	<string>benji-rider</string>
	<key>STORAGE_BUCKET</key>
	<string>benji-rider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412444903210:ios:ed4b25e67f7cafc537c053</string>
</dict>
</plist>